<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 静态资源 -->
	<mvc:resources location="/js/easyui/" mapping="/js/easyui/**"></mvc:resources>
	<mvc:resources location="/js/jdshow/" mapping="/js/jdshow/**"></mvc:resources>
	<mvc:resources location="/js/ztree3/" mapping="/js/ztree3/**"></mvc:resources>
	
	<!-- 自动搜索并注入 -->
	<context:component-scan base-package="com.cn.jdshow" />
	<!-- 启动对@AspectJ注解的支持 -->
 	<aop:aspectj-autoproxy/>
 	
 	<context:annotation-config/>
 	
 	<import resource="jdshow-session.xml"/>
 	<import resource="jdshow-jms.xml"/>
 	
 	<!-- quartz job -->
	<bean id="schedulerInfoTemplate" class="com.cn.jdshow.common.quartz.SchedulerInfoTemplate" scope="singleton"></bean>
</beans>